[submodule "inference/UniPMT"]
	path = inference/UniPMT
	url = https://github.com/ethanmock/UniPMT.git
[submodule "inference/ERGO-II"]
	path = inference/ERGO-II
	url = https://github.com/IdoSpringer/ERGO-II.git
[submodule "inference/UnifyImmun"]
	path = inference/UnifyImmun
	url = https://github.com/hliulab/UnifyImmun.git
[submodule "inference/DLpTCR"]
	path = inference/DLpTCR
	url = https://github.com/JiangBioLab/DLpTCR.git
